{% extends "::base.html.twig" %}

{% block title %}Random Team Builder{% endblock %}

{% block body %}
    <div class="row">
        <h1>Here the team you built</h1>

        <a href="{{ path('rm_team_build_random') }}" class="btn btn-default" role="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Build new
        </a>

        <table class="table table-bordered table-striped">
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th class="hidden-xs">Email</th>
            </tr>
            {% for buddy in buddies %}
                <tr>
                    <td>{{ buddy.id }}</td>
                    <td>{{ buddy.firstName }}</td>
                    <td>{{ buddy.lastName }}</td>
                    <td class="hidden-xs">{{ buddy.email }}</td>
                </tr>
            {% endfor %}
        </table>

        <a href="{{ path('rm_team_build_random') }}" class="btn btn-default" role="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Build new
        </a>
    </div>
{% endblock %}
